$designWidth: 414;
@import "../libs/hotcss/px2rem";

@font-face {
  font-family: 'hiragino';
  src: url('../font/hiragino.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*:not(input, textarea) {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.showbox {
  position: fixed;
  top: 0;
  right: 0;
  width: px2rem(100);
  height: px2rem(60);
  background: red;
  font-size: px2rem(20);
}

#app {
  position: absolute;
  width: px2rem(414);
  top: 0;
  bottom: 0;
  background: #000000;
  overflow: hidden;
  .pages {
    width: 100%;
    height: 100%;
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.page {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
}

.typo {
  //font-weight: 600;
  font-family: hiragino, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: px2rem(24);
  white-space: nowrap;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #FFFFFF;
  div[ja-character] {
    //font-weight: 600;
    font-family: hiragino, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font-size: px2rem(24);
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
  }
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.page1 {
  display: block;
  .tit1 {
    width: px2rem(414);
    height: px2rem(68);
    margin-left: px2rem(-207);
    margin-top: px2rem(-83);
  }
  .button1 {
    width: px2rem(120);
    height: px2rem(40);
    margin-left: px2rem(-60);
    margin-top: px2rem(20);
    border: px2rem(1) solid #FFFFFF;
    border-radius: px2rem(10);
    line-height: 120%;
    .typo {
      font-size: px2rem(16);
    }
  }
}

.page2 {
  .tit1 {
    width: px2rem(124);
    height: px2rem(35);
    margin-left: px2rem(-61);
    margin-top: px2rem(-17);
  }
}

.page3 {
  .tit1 {
    width: px2rem(203);
    height: px2rem(101);
    margin-left: px2rem(-101);
    margin-top: px2rem(-170);
    .typo {
      font-size: px2rem(68);
    }
  }
  .tit2 {
    width: px2rem(345);
    height: px2rem(59);
    margin-left: px2rem(-172);
    margin-top: px2rem(-68);
    .typo {
      font-size: px2rem(38);
    }
  }
  .tit3 {
    width: px2rem(416);
    height: px2rem(46);
    margin-left: px2rem(-207);
    margin-top: px2rem(10);
    .typo {
      font-size: px2rem(30);
    }
  }
}

.page4 {
  .tit1 {
    width: px2rem(100);
    height: px2rem(24);
    margin-left: px2rem(-49);
    margin-top: px2rem(-11);
  }
}

.page5 {
  .tit1 {
    width: px2rem(148);
    height: px2rem(24);
    margin-left: px2rem(-73);
    margin-top: px2rem(-11);
  }
}

.page6 {
  .tit1 {
    width: px2rem(125);
    height: px2rem(24);
    margin-left: px2rem(-62);
    margin-top: px2rem(-11);
  }
}

.page7 {
  .tit1 {
    width: px2rem(51);
    height: px2rem(91);
    margin-left: px2rem(-25);
    margin-top: px2rem(-45);
    .typo {
      font-size: px2rem(60);
    }
  }
}

.page8 {
  background: #FFFFFF;
  .tit1 {
    width: px2rem(51);
    height: px2rem(91);
    margin-left: px2rem(-25);
    margin-top: px2rem(-45);
    .typo {
      color: #000000;
      font-size: px2rem(60);
    }
  }
}

.page9 {
  .tit1 {
    width: px2rem(51);
    height: px2rem(91);
    margin-left: px2rem(-25);
    margin-top: px2rem(-45);
    .typo {
      font-size: px2rem(60);
    }
  }
}

.page10 {
  .tit1 {
    width: px2rem(418);
    height: px2rem(156);
    margin-left: px2rem(-209);
    margin-top: px2rem(-77);
  }
  .typo {
    font-size: px2rem(50);
  }
}

.page11 {
  .page-top {
    width: px2rem(418);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 50%;
    background: #FFFFFF;
  }
  .page-bottom {
    width: px2rem(418);
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 0;
    background: #000000;
  }
  .tit1 {
    width: px2rem(65);
    height: px2rem(25);
    margin-left: px2rem(-32);
    margin-top: px2rem(-12);
    .typo {
      color: #000000;
    }
  }
  .tit2 {
    width: px2rem(79);
    height: px2rem(25);
    margin-left: px2rem(-39);
    margin-top: px2rem(-12);
    .typo {
      color: #FFFFFF;
    }
  }
}

.page12 {
  .page-top {
    width: px2rem(418);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 50%;
    background: #000000;
  }
  .page-bottom {
    width: px2rem(418);
    position: absolute;
    left: 0;
    top: 50%;
    bottom: 0;
    background: #FFFFFF;
  }
  .tit1 {
    width: px2rem(65);
    height: px2rem(25);
    margin-left: px2rem(-32);
    margin-top: px2rem(-12);
    .typo {
      color: #FFFFFF;
    }
  }
  .tit2 {
    width: px2rem(79);
    height: px2rem(25);
    margin-left: px2rem(-39);
    margin-top: px2rem(-12);
    .typo {
      color: #000000;
    }
  }
}

.page13 {
  .tit1 {
    width: px2rem(95);
    height: px2rem(398);
    margin-left: px2rem(-47);
    margin-top: px2rem(-198);
    .typo {
      line-height: 120%;
      white-space: normal;
      font-size: px2rem(80);
    }
  }
}

.page14 {
  .tit1 {
    width: px2rem(56);
    height: px2rem(456);
    margin-left: px2rem(-27);
    margin-top: px2rem(-227);
    .typo {
      line-height: 130%;
      white-space: normal;
      font-size: px2rem(50);
      div[ja-character] {
        line-height: 130%;
        white-space: normal;
        font-size: px2rem(50);
      }
    }
  }
}

.page15 {
  .tit1 {
    width: px2rem(79);
    height: px2rem(25);
    margin-left: px2rem(-39);
    margin-top: px2rem(-12);
  }
}

.page16 {
  .tit1 {
    width: px2rem(178);
    height: px2rem(25);
    margin-left: px2rem(-88);
    margin-top: px2rem(-12);
  }
  .tit2 {
    width: px2rem(129);
    height: px2rem(25);
    margin-left: px2rem(-64);
    margin-top: px2rem(-12);
  }
  .tit3 {
    width: px2rem(54);
    height: px2rem(25);
    margin-left: px2rem(-26);
    margin-top: px2rem(-12);
  }
  .tit4 {
    width: px2rem(79);
    height: px2rem(25);
    margin-left: px2rem(-39);
    margin-top: px2rem(-12);
  }
}

.page17 {
  .img1 {
    width: px2rem(414);
    height: 100vh;
    background-image: url(../images/graduation.png?);
  }
  .tit1 {
    width: px2rem(55);
    height: px2rem(180);
    margin-left: px2rem(-27);
    margin-top: px2rem(-89);
    .typo {
      line-height: 130%;
      white-space: normal;
      font-size: px2rem(50);
    }
  }
}

.page18 {
  .tit1 {
    width: px2rem(79);
    height: px2rem(25);
    margin-left: px2rem(-39);
    margin-top: px2rem(-12);
  }
}

.page19 {
  .tit1 {
    width: px2rem(199);
    height: px2rem(25);
    margin-left: px2rem(-99);
    margin-top: px2rem(-12);
  }
}

.page20 {
  .tit1 {
    width: px2rem(79);
    height: px2rem(25);
    margin-left: px2rem(-39);
    margin-top: px2rem(-12);
  }
}

.page21 {
  .tit1 {
    width: px2rem(306);
    height: px2rem(25);
    margin-left: px2rem(-152);
    margin-top: px2rem(-12);
  }
}

.page22 {
  .img-box {
    position: absolute;
    top: 0;
  }
  .img {
    width: px2rem(414);
    height: 100vh;
    background-size: 100%;
  }
  .img1 {
    background-image: url(../images/building1.png);
  }
  .img2 {
    background-image: url(../images/building2.png);
  }
  .img3 {
    background-image: url(../images/building3.png);
  }
  .tit1 {
    width: px2rem(414);
    height: px2rem(75);
    margin-left: px2rem(-207);
    margin-top: px2rem(-38);
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: px2rem(-12);
      left: 0;
      right: 0;
      bottom: px2rem(-6);
      background: #FFFFFF;
      opacity: 0.6;
    }
    .typo {
      z-index: 1;
      position: relative;
      color: #000000;
      //font-size: px2rem(16);
    }
  }
}

/*.page23 {
  .tit1 {
    width: px2rem(79);
    height: px2rem(25);
    margin-left: px2rem(-39);
    margin-top: px2rem(-12);
  }
//}*/

.page24 {
  .tit1 {
    width: px2rem(203);
    height: px2rem(68);
    margin-left: px2rem(-101);
    margin-top: px2rem(-190);
  }
  .video1 {
    width: px2rem(433);
    height: px2rem(241);
    margin-left: px2rem(-216);
    margin-top: px2rem(-120);
    canvas {
      width: px2rem(414);
      height: px2rem(232)
    }
  }
}

.page25 {
  .img-box {
    width: px2rem(414);
    height: 33.33%;
  }
  .img {
    width: px2rem(414);
    height: 34vh;
    background-size: cover;
    background-position: 100% 50%;
    position: absolute;
  }
  .img1 {
    background-image: url(../images/flash1.png);
  }
  .img2 {
    background-image: url(../images/flash2.png);
  }
  .img3 {
    background-image: url(../images/flash3.png);
  }
  .tit1 {
    width: px2rem(414);
    height: px2rem(68);
    margin-left: px2rem(-207);
    margin-top: px2rem(-33);
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: px2rem(-10);
      left: 0;
      right: 0;
      bottom: px2rem(-10);
      background: #FFFFFF;
      opacity: 0.6;
    }
    .typo {
      z-index: 1;
      position: relative;
      color: #000000;
      //font-size: px2rem(16);
    }
  }
}

.page26 {
  .tit1 {
    width: px2rem(127);
    height: px2rem(25);
    margin-left: px2rem(-63);
    margin-top: px2rem(-12);
  }
}

.page27 {
  .tit1 {
    width: px2rem(127);
    height: px2rem(25);
    margin-left: px2rem(-63);
    margin-top: px2rem(-12);
  }
}

.page28 {
  background: #FFFFFF;
  .tit1 {
    width: px2rem(55);
    height: px2rem(377);
    margin-left: px2rem(-27);
    margin-top: px2rem(-188);
    .typo {
      line-height: 130%;
      white-space: normal;
      font-size: px2rem(50);
      color: #000000;
      div[ja-character] {
        line-height: 130%;
        white-space: normal;
        font-size: px2rem(50);
        color: #000000;
      }
    }
  }
}

.page29 {
  .tit1 {
    width: px2rem(228);
    height: px2rem(25);
    margin-left: px2rem(-113);
    margin-top: px2rem(-12);
  }
}

.page30 {
  .tit1 {
    width: px2rem(228);
    height: px2rem(25);
    margin-left: px2rem(-113);
    margin-top: px2rem(-12);
  }
}

.page31 {
  background: #FFFFFF;
  .tit1 {
    width: px2rem(56);
    height: px2rem(321);
    margin-left: px2rem(-27);
    margin-top: px2rem(-160);
    .typo {
      line-height: 130%;
      white-space: normal;
      font-size: px2rem(50);
      color: #000000;
      div[ja-character] {
        line-height: 130%;
        white-space: normal;
        font-size: px2rem(50);
        color: #000000;
      }
    }
  }
}

.page32 {
  .tit1 {
    width: px2rem(191);
    height: px2rem(52);
    margin-left: px2rem(-95);
    margin-top: px2rem(-25);
    .typo {
      font-size: px2rem(50);
      letter-spacing: px2rem(10);
      div[ja-character] {
        font-size: px2rem(50);
        letter-spacing: px2rem(10);
      }
    }
  }
}

//.page33 {
//  .img-content {
//    width: px2rem(414);
//    height: 100vh;
//    position: absolute;
//    .img-box {
//      float: left;
//    }
//    .img {
//      width: px2rem(138);
//      height: 20vh;
//    }
//  }
//}

.page34 {
  .tit1 {
    width: px2rem(104);
    height: px2rem(25);
    margin-left: px2rem(-51);
    margin-top: px2rem(-12);
  }
}

.page35 {
  .tit1 {
    width: px2rem(497);
    height: px2rem(75);
    margin-left: px2rem(-248);
    margin-top: px2rem(-37);
  }
}

.page36 {
  background: #FFFFFF;
  .tit1 {
    width: px2rem(211);
    height: px2rem(52);
    margin-left: px2rem(-105);
    margin-top: px2rem(-25);
    .typo {
      line-height: 130%;
      white-space: normal;
      font-size: px2rem(50);
      color: #000000;
      div[ja-character] {
        line-height: 130%;
        white-space: normal;
        font-size: px2rem(50);
        color: #000000;
      }
    }
  }
  .imgbox1 {
    width: px2rem(414);
    height: px2rem(156);
    margin-left: px2rem(-207);
    margin-top: px2rem(-77);
    .img1 {
      background-image: url(../images/logo.png);
      width: px2rem(414);
      height: px2rem(154);
    }
  }
}

.page36_1 {
  .tit1 {
    width: px2rem(414);
    height: px2rem(90);
    margin-left: px2rem(-207);
    margin-top: px2rem(-44);
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: px2rem(-10);
      left: 0;
      right: 0;
      bottom: px2rem(-10);
      background: #FFFFFF;
      opacity: 0.6;
    }
    .typo {
      z-index: 1;
      position: relative;
      color: #000000;
      //font-size: px2rem(16);
    }
  }
  .img-content {
    width: px2rem(414);
    height: 100vh;
    position: absolute;
    .img-box {
      float: left;
    }
    .img {
      width: px2rem(69);
      height: 20vh;
    }
  }
}

.page37_1 {
  .img-box {
    position: absolute;
    top: 0;
  }
  .img {
    width: px2rem(414);
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
  }
  .img1 {
    background-image: url(../images/master/robin_king.png);
  }
  .tit1 {
    width: px2rem(414);
    height: px2rem(34);
    margin-left: px2rem(-207);
    margin-top: px2rem(180);
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: px2rem(-10);
      left: 0;
      right: 0;
      bottom: px2rem(-10);
      background: #FFFFFF;
      opacity: 0.6;
    }
    .typo {
      width: px2rem(414);
      height: px2rem(34);
      z-index: 1;
      position: absolute;
      color: #000000;
      //font-size: px2rem(16);
      &:nth-of-type(3){
        line-height: 200%;
        font-size: px2rem(17.5);
      }
    }
  }
}

.page37_2 {
  .img-box {
    position: absolute;
    top: 0;
  }
  .img {
    width: px2rem(414);
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
  }
  .img1 {
    background-image: url(../images/master/hartmut_esslinger.png);
  }
  .tit1 {
    width: px2rem(414);
    height: px2rem(34);
    margin-left: px2rem(-207);
    margin-top: px2rem(180);
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: px2rem(-10);
      left: 0;
      right: 0;
      bottom: px2rem(-10);
      background: #FFFFFF;
      opacity: 0.6;
    }
    .typo {
      width: px2rem(414);
      height: px2rem(34);
      z-index: 1;
      position: absolute;
      color: #000000;
      //font-size: px2rem(16);
    }
  }
}

.page38 {
  .img-box {
    position: absolute;
    top: 0;
  }
  .img {
    width: px2rem(414);
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
  }
  .img1 {
    background-image: url(../images/invitation.png);
    background-color: #BD1C20;
    background-size: 100%;
    background-position: 50% 50%;
  }
  .img2 {
    background-image: url(../images/fly.png?v1);
  }
  .tit1 {
    width: px2rem(414);
    height: px2rem(73);
    margin-left: px2rem(-207);
    margin-top: px2rem(10);
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: px2rem(-10);
      left: 0;
      right: 0;
      bottom: px2rem(-10);
      background: #FFFFFF;
      opacity: 0.6;
    }
    .typo {
      z-index: 1;
      position: relative;
      color: #000000;
      //font-size: px2rem(16);
    }
  }
}

.page12 {
  .tit1 {

  }
}