@charset "UTF-8";
*:not(input, textarea) {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.showbox {
  position: fixed;
  top: 0;
  right: 0;
  width: 3.86473rem;
  height: 2.31884rem;
  background: red;
  font-size: 0.77295rem; }

#app {
  position: absolute;
  width: 16rem;
  top: 0;
  bottom: 0;
  background: #000000;
  overflow: hidden; }
  #app .pages {
    width: 100%;
    height: 100%; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.page {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center; }

.typo {
  font-weight: 600;
  font-family: 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: 0.92754rem;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF; }
  .typo div[ja-character] {
    font-weight: 600;
    font-family: 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font-size: 0.92754rem;
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF; }

.center {
  position: absolute;
  top: 50%;
  left: 50%; }

.page1 {
  display: block; }
  .page1 .tit1 {
    width: 11.98068rem;
    height: 1.15942rem;
    margin-left: -5.99034rem;
    margin-top: -1.3913rem; }
  .page1 .button1 {
    width: 4.63768rem;
    height: 1.54589rem;
    margin-left: -2.31884rem;
    margin-top: 0.77295rem;
    border: 0.03865rem solid #FFFFFF;
    border-radius: 0.38647rem; }
    .page1 .button1 .typo {
      font-size: 0.61836rem; }

.page2 .tit1 {
  width: 4.79227rem;
  height: 1.35266rem;
  margin-left: -2.35749rem;
  margin-top: -0.657rem; }

.page3 .tit1 {
  width: 7.84541rem;
  height: 3.90338rem;
  margin-left: -3.90338rem;
  margin-top: -8.11594rem; }
  .page3 .tit1 .typo {
    font-size: 2.62802rem; }
.page3 .tit2 {
  width: 13.33333rem;
  height: 2.28019rem;
  margin-left: -6.64734rem;
  margin-top: -3.40097rem; }
  .page3 .tit2 .typo {
    font-size: 1.4686rem; }
.page3 .tit3 {
  width: 16.07729rem;
  height: 1.77778rem;
  margin-left: -8rem;
  margin-top: 0rem; }
  .page3 .tit3 .typo {
    font-size: 1.15942rem; }

.page4 .tit1 {
  width: 3.86473rem;
  height: 0.92754rem;
  margin-left: -1.89372rem;
  margin-top: -0.42512rem; }

.page5 .tit1 {
  width: 5.71981rem;
  height: 0.92754rem;
  margin-left: -2.82126rem;
  margin-top: -0.42512rem; }

.page6 .tit1 {
  width: 4.83092rem;
  height: 0.92754rem;
  margin-left: -2.39614rem;
  margin-top: -0.42512rem; }

.page7 .tit1 {
  width: 1.97101rem;
  height: 3.51691rem;
  margin-left: -0.96618rem;
  margin-top: -1.73913rem; }
  .page7 .tit1 .typo {
    font-size: 2.31884rem; }

.page8 {
  background: #FFFFFF; }
  .page8 .tit1 {
    width: 1.97101rem;
    height: 3.51691rem;
    margin-left: -0.96618rem;
    margin-top: -1.73913rem; }
    .page8 .tit1 .typo {
      color: #000000;
      font-size: 2.31884rem; }

.page9 .tit1 {
  width: 1.97101rem;
  height: 3.51691rem;
  margin-left: -0.96618rem;
  margin-top: -1.73913rem; }
  .page9 .tit1 .typo {
    font-size: 2.31884rem; }

.page10 .tit1 {
  width: 16.15459rem;
  height: 6.02899rem;
  margin-left: -8.07729rem;
  margin-top: -2.97585rem; }
.page10 .typo {
  font-size: 1.93237rem; }

.page11 .page-top {
  width: 16.15459rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 50%;
  background: #FFFFFF; }
.page11 .page-bottom {
  width: 16.15459rem;
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 0;
  background: #000000; }
.page11 .tit1 {
  width: 2.51208rem;
  height: 0.96618rem;
  margin-left: -1.23671rem;
  margin-top: -0.46377rem; }
  .page11 .tit1 .typo {
    color: #000000; }
.page11 .tit2 {
  width: 3.05314rem;
  height: 0.96618rem;
  margin-left: -1.50725rem;
  margin-top: -0.46377rem; }
  .page11 .tit2 .typo {
    color: #FFFFFF; }

.page12 .page-top {
  width: 16.15459rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 50%;
  background: #000000; }
.page12 .page-bottom {
  width: 16.15459rem;
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 0;
  background: #FFFFFF; }
.page12 .tit1 {
  width: 2.51208rem;
  height: 0.96618rem;
  margin-left: -1.23671rem;
  margin-top: -0.46377rem; }
  .page12 .tit1 .typo {
    color: #FFFFFF; }
.page12 .tit2 {
  width: 3.05314rem;
  height: 0.96618rem;
  margin-left: -1.50725rem;
  margin-top: -0.46377rem; }
  .page12 .tit2 .typo {
    color: #000000; }

.page13 .tit1 {
  width: 3.6715rem;
  height: 15.38164rem;
  margin-left: -1.81643rem;
  margin-top: -7.65217rem; }
  .page13 .tit1 .typo {
    line-height: 120%;
    white-space: normal;
    font-size: 3.09179rem; }

.page14 .tit1 {
  width: 2.16425rem;
  height: 17.62319rem;
  margin-left: -1.04348rem;
  margin-top: -8.77295rem; }
  .page14 .tit1 .typo {
    line-height: 130%;
    white-space: normal;
    font-size: 1.93237rem; }
    .page14 .tit1 .typo div[ja-character] {
      line-height: 130%;
      white-space: normal;
      font-size: 1.93237rem; }

/*# sourceMappingURL=style.css.map */
