@charset "UTF-8";
@font-face {
  font-family: 'hiragino';
  src: url("../font/hiragino.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
*:not(input, textarea) {
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.showbox {
  position: fixed;
  top: 0;
  right: 0;
  width: 3.86473rem;
  height: 2.31884rem;
  background: red;
  font-size: 0.77295rem; }

#app {
  position: absolute;
  width: 16rem;
  top: 0;
  bottom: 0;
  background: #000000;
  overflow: hidden; }
  #app .pages {
    width: 100%;
    height: 100%; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.page {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center; }

.typo {
  font-weight: 600;
  font-family: 'hiragino, Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  font-size: 0.92754rem;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  color: #FFFFFF; }
  .typo div[ja-character] {
    font-weight: 600;
    font-family: 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    font-size: 0.92754rem;
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.center {
  position: absolute;
  top: 50%;
  left: 50%; }

.page1 {
  display: block; }
  .page1 .tit1 {
    width: 16rem;
    height: 2.62802rem;
    margin-left: -8rem;
    margin-top: -3.20773rem; }
  .page1 .button1 {
    width: 4.63768rem;
    height: 1.54589rem;
    margin-left: -2.31884rem;
    margin-top: 0.77295rem;
    border: 0.03865rem solid #FFFFFF;
    border-radius: 0.38647rem;
    line-height: 120%; }
    .page1 .button1 .typo {
      font-size: 0.61836rem; }

.page2 .tit1 {
  width: 4.79227rem;
  height: 1.35266rem;
  margin-left: -2.35749rem;
  margin-top: -0.657rem; }

.page3 .tit1 {
  width: 7.84541rem;
  height: 3.90338rem;
  margin-left: -3.90338rem;
  margin-top: -6.57005rem; }
  .page3 .tit1 .typo {
    font-size: 2.62802rem; }
.page3 .tit2 {
  width: 13.33333rem;
  height: 2.28019rem;
  margin-left: -6.64734rem;
  margin-top: -2.62802rem; }
  .page3 .tit2 .typo {
    font-size: 1.4686rem; }
.page3 .tit3 {
  width: 16.07729rem;
  height: 1.77778rem;
  margin-left: -8rem;
  margin-top: 0.38647rem; }
  .page3 .tit3 .typo {
    font-size: 1.15942rem; }

.page4 .tit1 {
  width: 3.86473rem;
  height: 0.92754rem;
  margin-left: -1.89372rem;
  margin-top: -0.42512rem; }

.page5 .tit1 {
  width: 5.71981rem;
  height: 0.92754rem;
  margin-left: -2.82126rem;
  margin-top: -0.42512rem; }

.page6 .tit1 {
  width: 4.83092rem;
  height: 0.92754rem;
  margin-left: -2.39614rem;
  margin-top: -0.42512rem; }

.page7 .tit1 {
  width: 1.97101rem;
  height: 3.51691rem;
  margin-left: -0.96618rem;
  margin-top: -1.73913rem; }
  .page7 .tit1 .typo {
    font-size: 2.31884rem; }

.page8 {
  background: #FFFFFF; }
  .page8 .tit1 {
    width: 1.97101rem;
    height: 3.51691rem;
    margin-left: -0.96618rem;
    margin-top: -1.73913rem; }
    .page8 .tit1 .typo {
      color: #000000;
      font-size: 2.31884rem; }

.page9 .tit1 {
  width: 1.97101rem;
  height: 3.51691rem;
  margin-left: -0.96618rem;
  margin-top: -1.73913rem; }
  .page9 .tit1 .typo {
    font-size: 2.31884rem; }

.page10 .tit1 {
  width: 16.15459rem;
  height: 6.02899rem;
  margin-left: -8.07729rem;
  margin-top: -2.97585rem; }
.page10 .typo {
  font-size: 1.93237rem; }

.page11 .page-top {
  width: 16.15459rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 50%;
  background: #FFFFFF; }
.page11 .page-bottom {
  width: 16.15459rem;
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 0;
  background: #000000; }
.page11 .tit1 {
  width: 2.51208rem;
  height: 0.96618rem;
  margin-left: -1.23671rem;
  margin-top: -0.46377rem; }
  .page11 .tit1 .typo {
    color: #000000; }
.page11 .tit2 {
  width: 3.05314rem;
  height: 0.96618rem;
  margin-left: -1.50725rem;
  margin-top: -0.46377rem; }
  .page11 .tit2 .typo {
    color: #FFFFFF; }

.page12 .page-top {
  width: 16.15459rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 50%;
  background: #000000; }
.page12 .page-bottom {
  width: 16.15459rem;
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 0;
  background: #FFFFFF; }
.page12 .tit1 {
  width: 2.51208rem;
  height: 0.96618rem;
  margin-left: -1.23671rem;
  margin-top: -0.46377rem; }
  .page12 .tit1 .typo {
    color: #FFFFFF; }
.page12 .tit2 {
  width: 3.05314rem;
  height: 0.96618rem;
  margin-left: -1.50725rem;
  margin-top: -0.46377rem; }
  .page12 .tit2 .typo {
    color: #000000; }

.page13 .tit1 {
  width: 3.6715rem;
  height: 15.38164rem;
  margin-left: -1.81643rem;
  margin-top: -7.65217rem; }
  .page13 .tit1 .typo {
    line-height: 120%;
    white-space: normal;
    font-size: 3.09179rem; }

.page14 .tit1 {
  width: 2.16425rem;
  height: 17.62319rem;
  margin-left: -1.04348rem;
  margin-top: -8.77295rem; }
  .page14 .tit1 .typo {
    line-height: 130%;
    white-space: normal;
    font-size: 1.93237rem; }
    .page14 .tit1 .typo div[ja-character] {
      line-height: 130%;
      white-space: normal;
      font-size: 1.93237rem; }

.page15 .tit1 {
  width: 3.05314rem;
  height: 0.96618rem;
  margin-left: -1.50725rem;
  margin-top: -0.46377rem; }

.page16 .tit1 {
  width: 6.87923rem;
  height: 0.96618rem;
  margin-left: -3.40097rem;
  margin-top: -0.46377rem; }
.page16 .tit2 {
  width: 4.98551rem;
  height: 0.96618rem;
  margin-left: -2.47343rem;
  margin-top: -0.46377rem; }
.page16 .tit3 {
  width: 2.08696rem;
  height: 0.96618rem;
  margin-left: -1.00483rem;
  margin-top: -0.46377rem; }
.page16 .tit4 {
  width: 3.05314rem;
  height: 0.96618rem;
  margin-left: -1.50725rem;
  margin-top: -0.46377rem; }

.page17 .img1 {
  width: 16rem;
  height: 100vh;
  background-image: url(../images/graduation.png); }
.page17 .tit1 {
  width: 2.1256rem;
  height: 6.95652rem;
  margin-left: -1.04348rem;
  margin-top: -3.43961rem; }
  .page17 .tit1 .typo {
    line-height: 130%;
    white-space: normal;
    font-size: 1.93237rem; }

.page18 .tit1 {
  width: 3.05314rem;
  height: 0.96618rem;
  margin-left: -1.50725rem;
  margin-top: -0.46377rem; }

.page19 .tit1 {
  width: 7.69082rem;
  height: 0.96618rem;
  margin-left: -3.82609rem;
  margin-top: -0.46377rem; }

.page20 .tit1 {
  width: 3.05314rem;
  height: 0.96618rem;
  margin-left: -1.50725rem;
  margin-top: -0.46377rem; }

.page21 .tit1 {
  width: 11.82609rem;
  height: 0.96618rem;
  margin-left: -5.8744rem;
  margin-top: -0.46377rem; }

.page22 .img-box {
  position: absolute;
  top: 0; }
.page22 .img {
  width: 16rem;
  height: 100vh;
  background-size: 100%; }
.page22 .img1 {
  background-image: url(../images/building1.png); }
.page22 .img2 {
  background-image: url(../images/building2.png); }
.page22 .img3 {
  background-image: url(../images/building3.png); }
.page22 .tit1 {
  width: 16rem;
  height: 2.89855rem;
  margin-left: -8rem;
  margin-top: -1.4686rem; }
  .page22 .tit1:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.46377rem;
    left: 0;
    right: 0;
    bottom: -0.23188rem;
    background: #FFFFFF;
    opacity: 0.6; }
  .page22 .tit1 .typo {
    z-index: 1;
    position: relative;
    color: #000000; }

/*.page23 {
  .tit1 {
    width: px2rem(79);
    height: px2rem(25);
    margin-left: px2rem(-39);
    margin-top: px2rem(-12);
  }
//}*/
.page24 .tit1 {
  width: 7.84541rem;
  height: 2.62802rem;
  margin-left: -3.90338rem;
  margin-top: -7.343rem; }
.page24 .video1 {
  width: 16.7343rem;
  height: 9.31401rem;
  margin-left: -8.34783rem;
  margin-top: -4.63768rem; }
  .page24 .video1 canvas {
    width: 16rem;
    height: 8.96618rem; }

.page25 .img-box {
  width: 16rem;
  height: 33.33%; }
.page25 .img {
  width: 16rem;
  height: 34vh;
  background-size: cover;
  background-position: 100% 50%;
  position: absolute; }
.page25 .img1 {
  background-image: url(../images/flash1.png); }
.page25 .img2 {
  background-image: url(../images/flash2.png); }
.page25 .img3 {
  background-image: url(../images/flash3.png); }
.page25 .tit1 {
  width: 16rem;
  height: 2.62802rem;
  margin-left: -8rem;
  margin-top: -1.27536rem; }
  .page25 .tit1:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.38647rem;
    left: 0;
    right: 0;
    bottom: -0.38647rem;
    background: #FFFFFF;
    opacity: 0.6; }
  .page25 .tit1 .typo {
    z-index: 1;
    position: relative;
    color: #000000; }

.page26 .tit1 {
  width: 4.90821rem;
  height: 0.96618rem;
  margin-left: -2.43478rem;
  margin-top: -0.46377rem; }

.page27 .tit1 {
  width: 4.90821rem;
  height: 0.96618rem;
  margin-left: -2.43478rem;
  margin-top: -0.46377rem; }

.page28 {
  background: #FFFFFF; }
  .page28 .tit1 {
    width: 2.1256rem;
    height: 14.57005rem;
    margin-left: -1.04348rem;
    margin-top: -7.2657rem; }
    .page28 .tit1 .typo {
      line-height: 130%;
      white-space: normal;
      font-size: 1.93237rem;
      color: #000000; }
      .page28 .tit1 .typo div[ja-character] {
        line-height: 130%;
        white-space: normal;
        font-size: 1.93237rem;
        color: #000000; }

.page29 .tit1 {
  width: 8.81159rem;
  height: 0.96618rem;
  margin-left: -4.36715rem;
  margin-top: -0.46377rem; }

.page30 .tit1 {
  width: 8.81159rem;
  height: 0.96618rem;
  margin-left: -4.36715rem;
  margin-top: -0.46377rem; }

.page31 {
  background: #FFFFFF; }
  .page31 .tit1 {
    width: 2.16425rem;
    height: 12.4058rem;
    margin-left: -1.04348rem;
    margin-top: -6.18357rem; }
    .page31 .tit1 .typo {
      line-height: 130%;
      white-space: normal;
      font-size: 1.93237rem;
      color: #000000; }
      .page31 .tit1 .typo div[ja-character] {
        line-height: 130%;
        white-space: normal;
        font-size: 1.93237rem;
        color: #000000; }

.page32 .tit1 {
  width: 7.38164rem;
  height: 2.00966rem;
  margin-left: -3.6715rem;
  margin-top: -0.96618rem; }
  .page32 .tit1 .typo {
    font-size: 1.93237rem;
    letter-spacing: 0.38647rem; }
    .page32 .tit1 .typo div[ja-character] {
      font-size: 1.93237rem;
      letter-spacing: 0.38647rem; }

.page34 .tit1 {
  width: 4.01932rem;
  height: 0.96618rem;
  margin-left: -1.97101rem;
  margin-top: -0.46377rem; }

.page35 .tit1 {
  width: 19.20773rem;
  height: 2.89855rem;
  margin-left: -9.58454rem;
  margin-top: -1.42995rem; }

.page36 {
  background: #FFFFFF; }
  .page36 .tit1 {
    width: 8.15459rem;
    height: 2.00966rem;
    margin-left: -4.05797rem;
    margin-top: -0.96618rem; }
    .page36 .tit1 .typo {
      line-height: 130%;
      white-space: normal;
      font-size: 1.93237rem;
      color: #000000; }
      .page36 .tit1 .typo div[ja-character] {
        line-height: 130%;
        white-space: normal;
        font-size: 1.93237rem;
        color: #000000; }
  .page36 .imgbox1 {
    width: 16rem;
    height: 6.02899rem;
    margin-left: -8rem;
    margin-top: -2.97585rem; }
    .page36 .imgbox1 .img1 {
      background-image: url(../images/logo.png);
      width: 16rem;
      height: 5.95169rem; }

.page36_1 .tit1 {
  width: 16rem;
  height: 1.35266rem;
  margin-left: -8rem;
  margin-top: -0.46377rem; }
  .page36_1 .tit1:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.38647rem;
    left: 0;
    right: 0;
    bottom: -0.38647rem;
    background: #FFFFFF;
    opacity: 0.6; }
  .page36_1 .tit1 .typo {
    z-index: 1;
    position: relative;
    color: #000000; }
.page36_1 .img-content {
  width: 16rem;
  height: 100vh;
  position: absolute; }
  .page36_1 .img-content .img-box {
    float: left; }
  .page36_1 .img-content .img {
    width: 2.66667rem;
    height: 20vh; }

.page37_1 .img-box {
  position: absolute;
  top: 0; }
.page37_1 .img {
  width: 16rem;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%; }
.page37_1 .img1 {
  background-image: url(../images/master/robin_king.png); }
.page37_1 .tit1 {
  width: 16rem;
  height: 2.82126rem;
  margin-left: -8rem;
  top: auto;
  bottom: 0.38647rem; }
  .page37_1 .tit1:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.38647rem;
    left: 0;
    right: 0;
    bottom: -0.38647rem;
    background: #FFFFFF;
    opacity: 0.6; }
  .page37_1 .tit1 .typo {
    z-index: 1;
    position: relative;
    color: #000000; }

.page37_2 .img-box {
  position: absolute;
  top: 0; }
.page37_2 .img {
  width: 16rem;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%; }
.page37_2 .img1 {
  background-image: url(../images/master/hartmut_esslinger.png); }
.page37_2 .tit1 {
  width: 16rem;
  height: 2.82126rem;
  margin-left: -8rem;
  top: auto;
  bottom: 0.38647rem; }
  .page37_2 .tit1:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.38647rem;
    left: 0;
    right: 0;
    bottom: -0.38647rem;
    background: #FFFFFF;
    opacity: 0.6; }
  .page37_2 .tit1 .typo {
    z-index: 1;
    position: relative;
    color: #000000; }

.page38 .img-box {
  position: absolute;
  top: 0; }
.page38 .img {
  width: 16rem;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%; }
.page38 .img1 {
  background-image: url(../images/Invitation.png);
  background-color: #BD1C20;
  background-size: 100%;
  background-position: 50% 50%; }
.page38 .img2 {
  background-image: url(../images/fly.png); }
.page38 .tit1 {
  width: 16rem;
  height: 1.42995rem;
  margin-left: -8rem;
  margin-top: -0.69565rem; }
  .page38 .tit1:before {
    content: '';
    display: block;
    position: absolute;
    top: -0.38647rem;
    left: 0;
    right: 0;
    bottom: -0.38647rem;
    background: #FFFFFF;
    opacity: 0.6; }
  .page38 .tit1 .typo {
    z-index: 1;
    position: relative;
    color: #000000; }

/*# sourceMappingURL=style.css.map */
